{% extends "baseTemplate.html" %}
{% block title %} About Us {% endblock %}

{% block content %}
<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">About Us</h2>
                <p class="mb-6">Welcome to Raijin, the epitome of technological prowess and innovation in the
                    realm of computer components. Embarking on a journey to redefine excellence, Raijin stands as a
                    beacon of cutting-edge engineering and unparalleled performance. With an unwavering commitment to
                    quality and reliability, we strive to empower enthusiasts, gamers, and professionals alike with the
                    tools they need to elevate their computing experiences to unprecedented heights. At Raijin, we
                    meticulously curate a selection of elite-grade components, ranging from processors and graphics
                    cards to memory modules and storage solutions, each meticulously crafted to deliver uncompromising
                    performance and efficiency. Our relentless pursuit of perfection drives us to push the boundaries of
                    possibility, ensuring that every product bearing the Raijin insignia embodies the pinnacle of
                    technological advancement. Backed by a team of seasoned experts and industry veterans, we endeavor
                    to not only meet but exceed the lofty expectations of our discerning clientele. Join us on this
                    odyssey into the future of computing, where innovation knows no bounds, and excellence is the only
                    standard. Experience the power of Raijin and unlock the true potential of your system today.</p>
            </div>
        </div>
    </div>
</section>

<section id="privacy-policy" class="text-white py-5" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Privacy Policy</h2>
                <p class="mb-4">
                    <strong>Information We Collect</strong><br>
                    - Personal Information: We may collect your name, email address, phone number, and shipping address
                    when you make a purchase.<br>
                    - Payment Information: We collect payment information for transactions, but we do not store payment
                    details. All payment transactions are processed through secure payment gateways.<br>
                    - Device Information: We may collect information about the device you're using to access our
                    website, including IP address, browser type, and operating system.<br><br>

                    <strong>How We Use Your Information</strong><br>
                    We use your personal information for order fulfillment, customer service, and to improve our
                    services. We do not sell, rent, or trade your personal information to third parties.<br><br>

                    <strong>Cookies</strong><br>
                    We use cookies to enhance your experience on our website. You can disable cookies in your browser
                    settings, but this may affect the functionality of our site.<br><br>

                    <strong>Security</strong><br>
                    We take reasonable measures to protect your personal information. However, no method of transmission
                    over the internet or electronic storage is 100% secure.<br><br>

                    <strong>Third-Party Links</strong><br>
                    Our website may contain links to third-party websites. We are not responsible for their privacy
                    practices, and we encourage you to review their privacy policies.<br><br>

                    <strong>Changes to this Privacy Policy</strong><br>
                    We may update our Privacy Policy from time to time. Please review this page periodically for any
                    changes. Your continued use of our website after any modifications indicates your acceptance of the
                    updated Privacy Policy.<br><br>

                    <strong>Order Cancellation in Case of Fraud Detection</strong><br>
                    In the event that we detect fraudulent activity related to an order, we reserve the right to cancel
                    the order for the protection of both the customer and TVS. Fraudulent activity may include, but is
                    not limited to, unauthorized use of credit cards, identity theft, or any other deceptive
                    practices.<br><br>

                    <strong>Contact Us</strong><br>
                    If you have any questions about our Privacy Policy, please contact us at contact_us@tvs.com.
                </p>

            </div>
        </div>
    </div>
</section>

<section id="shipping-policy" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Shipping Policy</h2>
                <p class="mb-4">At Raijin, we understand the importance of timely delivery and reliable
                    shipping services. That's why we partner with trusted carriers to ensure that your order reaches you
                    swiftly and securely. Upon placing your order, our team works diligently to process it with the
                    utmost efficiency. Orders typically ship within 1-2 business days, barring any unforeseen
                    circumstances or custom configurations. We offer both domestic and international shipping options to
                    cater to our diverse clientele around the globe. Shipping costs are calculated at checkout based on
                    your location and the weight of your order. For domestic orders, we provide standard and expedited
                    shipping services, allowing you to choose the option that best suits your needs. International
                    orders may be subject to customs duties and taxes, which are the responsibility of the recipient.
                    Rest assured, we strive to provide accurate tracking information for all orders, allowing you to
                    monitor the progress of your shipment every step of the way. Should you have any inquiries regarding
                    shipping or delivery, please don't hesitate to contact our dedicated customer support team, who will
                    be more than happy to assist you..</p>
            </div>
        </div>
    </div>
</section>

<section id="return-policy" class="text-white py-5" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Return Policy</h2>
                <p class="mb-4">At Raijin, customer satisfaction is our top priority, and we stand behind the quality of
                    our products. If for any reason you are not completely satisfied with your purchase, we offer a
                    hassle-free return policy to ensure your peace of mind. We accept returns of unused and unopened
                    items within 30 days of the original purchase date. To initiate a return, simply contact our
                    customer support team to obtain a return authorization and shipping instructions. Please note that
                    return shipping costs are the responsibility of the customer, unless the return is due to a defect
                    or error on our part. Once we receive your returned item, our team will inspect it to ensure that it
                    meets our return criteria. Upon approval, we will issue a refund to your original form of payment,
                    minus any applicable restocking fees, within 5-7 business days. Please allow additional time for the
                    refund to reflect in your account, depending on your financial institution. For items that are
                    damaged, defective, or incorrectly shipped, we offer expedited replacements at no additional cost to
                    you. If you have any questions or concerns regarding our return policy, feel free to reach out to
                    our dedicated customer support team, who will be happy to assist you every step of the way.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}